
<!-- Content Wrapper. Contains page content -->
    <!-- Content Header (Page header) -->
    <div class="bg-light lter b-b wrapper-md">
        <h1 class="m-n font-thin h3" style="display:inline-block">网关修改</h1>
        <!--  <a ui-sref="app.table.grid"><button class="btn btn-default" style="float:right">返回</button></a>-->
    </div>

    <!-- Main content -->
    <!-- form start -->
<div class="wrapper-md" ng-controller="Modify"> 
    <form class="form-horizontal"  style=""  >
        <div class="box-body">
        	<div class="form-group">
            	<label for="name" class="col-sm-2 control-label ng-valid " ng-model="gateway.name">网关名 </label>
                	<div class="col-sm-2">
                    	<input type="text" class="form-control" id="name" placeholder="AAAA" required="required" ng-model="gateway.name" readonly>
                	</div>
       	    </div>
        	<div class="form-group">
            	<label for="tenant_id" class="col-sm-2 control-label ">ID </label>
                	<div class="col-sm-2">
                    	<input type="text" class="form-control" id="tenant_id" placeholder="123456" ng-model="gateway.id" readonly>
                	</div>
        	</div>
         	<div class="form-group">
            	<label  for="description" class="col-sm-2 control-label">网关描述 </label>
                	<div class="col-sm-6">
                    	<textarea class="form-control" rows="3" placeholder="Enter ..." id="description" ng-model="gateway.description"></textarea>
                	</div>
        	</div>
        	
       	    <div class="form-group">
            	<label for="gateway_type_id" class="col-sm-2 col-xs-2 col-md-2	col-lg-2 control-label" readonly>网关类型 </label>
                	<div class="col-sm-2">
                    	<select class="form-control" ng-model="gatewaytype"  ng-options="gatewaytype.name   for gatewaytype in gatewaytypes " disabled="disabled">
                        	<options value="">所有类型</options>
                        </select>
                    </div>
       	    </div>
         	<div class='form-group'>
            	<label for="workgroup_id" class="col-sm-2 col-xs-2 col-md-2	col-lg-2 control-label">群组 </label>
					<div class="col-sm-2">
                    	<select class="form-control" ng-model="workgroup"  ng-options="workgroup.name   for workgroup in workgroups ">
                        	
                    	</select>
                	</div>

         	</div>
         	<div class="form-group">
               <label for="name" class="col-sm-2 control-label ng-valid " >IP地址</label>
                    <div class="col-sm-2">
                       <input type="text" class="form-control" ng-blur="gatewayIp()" placeholder="1.0.0.0"  ng-model="gateway.ip">
                       <div ng-if="isIpShow" class="glyphicon glyphicon-exclamation-sign" style='color:#e24c4f;padding-right:5px;padding-top:2px;'> 你输入的IP地址不正确</div>
                    </div>  
           </div>
           <div class="form-group">
               <label for="name" class="col-sm-2 control-label ng-valid " >Mac地址</label>
                    <div class="col-sm-2">
                       <input type="text" class="form-control" ng-blur="getewayMac()" placeholder="1f-55-44-66-de"  ng-model="gateway.mac">
                    	<div ng-if="isMacShow" class="glyphicon glyphicon-exclamation-sign" style='color:#e24c4f;padding-right:5px;padding-top:2px;'> 你输入的mac地址不正确</div>	
                    </div>  
           </div>
         	<div ng-repeat="list in addList" class='form-group'>
           		<label  class="col-sm-2 control-label" >{{list.name}} </label>
             	<div class="col-sm-2">
                	<input type="text" class="form-control" id=""  required="required" ng-model="list.value" style="display:inline-block;width:80%;"></input>
            	</div>
            	<label for="name" class="col-sm-1 control-label ng-valid ">下发</label>
                <div class="checkbox col-sm-2">
  				<label><input type="checkbox"  ng-model="list.applyToGateway" style=" width: 24px;height: 24px;margin-top: 0px;" ng-change="luastrShow()"></label>
				<a><span class="glyphicon glyphicon-remove" style="margin-left:3%;color:#d9534f " ng-click="Remove($index)"></span></a>                					
				</div>
           </div>
    	</div>
<!-- /.box-body -->
		<div class="box-footer form-group" >
    		<label  class="col-sm-2 control-label" ></label>
        		<button type="submit" class="btn btn-default " ng-click="Clear()" style='margin-right:1%;'>返回</button>
            	<button type="submit" class="btn btn-success  " ng-click="OK()" ng-disabled="isIpShow || isMacShow || isdisabled">修改</button>
    	</div>
 </form>
    	<!-- /.box-footer -->
    	<form class="form-horizontal">
    		<h4 style="display:inline-block;cursor:pointer;" ng-click="showAddAttr()">添加属性</h4>
        	<i class="icon-pencil"></i>
        	<hr style="border-top:0.5px solid #ccc;margin-top:0;"></hr>
            <div ng-show='isShow'>
            	<div class="form-group">
               		<label for="name" class="col-sm-2 control-label ng-valid " ng-model="add_name">属性名</label>
                    	<div class="col-sm-2">
                       		<input type="text" class="form-control" id="add_name" placeholder="属性名" required="required" ng-model="add_name ">
                    	</div>  
           		</div>
           		<div class="form-group">
               		<label for="name" class="col-sm-2 control-label ng-valid " ng-model="add_attr">属性值</label>
                    	<div class="col-sm-2">
                       		<input type="text" class="form-control" id="add_attr" placeholder="属性值" required="required" ng-model="add_attr">
                    	</div>  
           		</div>
           		<div class="form-group">
        			<label for="name" class="col-sm-2 control-label ng-valid ">下发</label>
         			<div class="col-sm-2" style="padding-top: 0px;">
            			<div class="checkbox col-sm-2">
  							<label><input type="checkbox"  ng-model="applyToGateway" style=" width: 24px;height: 24px;margin-top: 0px;" ng-change="luastrShow()"></label>
						</div>
         			</div>  
      			</div>
            	<div class="form-group" >
                	<label  class="col-sm-2 control-label" ></label>
					<button type="submit" class="btn btn-info "  ng-click=" Add()" >添加</button>                                    
             	</div>
       	    </div>
      	 </form>
<!-- /.box-footer -->

</div>
<!-- /.box -->
