<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">修改采集变量</h1>
</div>
<div class="wrapper-md" ng-controller="VariableModifyCtrl">
	<form class="form-horizontal" >
		<h5>基本参数</h5>
		<hr></hr>
	    <div class="row form-group">
	    	<div class="col-sm-2 control-label ng-valid ">
	    	           变量名称
	    	</div>
	        <div class="col-sm-2">
	           <input type="text" class="form-control" placeholder="AAAA" required="required" ng-model="variable.name" disabled>
	        </div>
	        <div class="col-sm-2 control-label ng-valid ">
	    	          变量单位
	    	</div>
	        <div class="col-sm-2">
	           <input type="text" class="form-control" placeholder="单位" ng-model="variable.unit">
	        </div> 
	    </div>	    
	    <div class="form-group">
        	<div class="col-sm-2 control-label ng-valid ">
	    	    描述
	    	</div>
            <div class="col-sm-6">
                <textarea class="form-control" rows="3" placeholder="Enter ..." ng-model="variable.description"></textarea>
            </div>
        </div>
        <h5>数据配置</h5>
		<hr></hr>
        <div class="row form-group">	    	 
	        <div class="col-sm-2 control-label ng-valid ">
	    	   数据类型
	    	</div>
	        <div class="col-sm-2">
	        <select class="form-control" ng-model="variable.dataType" >	        
				<option  value='{{key}}' ng-repeat="(key,value) in dataTypes" >{{value.value}}</option>				
			</select>
	        </div>
	        <div class="col-sm-2 control-label ng-valid ">
	    	   值类型
	    	</div>
	        <div class="col-sm-2">
	        <select class="form-control" ng-model="variable.valueType" >	        
				<option  value='{{key}}' ng-repeat="(key,value) in valueTypes" >{{value}}</option>				
			</select>
	        </div>
	    </div>
	    	    
	    <div class="row form-group">	    	 
	        <div class="col-sm-2 control-label ng-valid ">
	    	  小数位
	    	</div>
	        <div class="col-sm-2">
	        <select class="form-control" ng-model="variable.dataBits">	        
				<option  value='{{key}}' ng-repeat="(key,value) in dataBits" >{{value}}</option>				
			</select>
	        </div>
	        <div class="col-sm-2 control-label ng-valid ">
	    	  读写模式
	    	</div>
	        <div class="col-sm-2">
	        <select class="form-control" ng-model="variable.readWriteType">	        
				<option  value='{{key}}' ng-repeat="(key,value) in readWriteTypes" >{{value}}</option>				
			</select>
	        </div>
	    </div>
	    
	    <div class="row form-group">
	    	 
	        <label for="serie" class="col-sm-2 col-xs-2 col-md-2	col-lg-2 control-label" readonly>字节顺序</label>
	    	<div class="col-sm-2">
	    	<select class="form-control" ng-model="variable.byteOrder">	        
				<option  value='{{key}}' ng-repeat="(key,value) in byteOrders" >{{value}}</option>				
			</select>
	        </div>
	        <div class="col-sm-2 control-label ng-valid ">
	    	  运行脚本
	    	</div>
	        <div class="col-sm-2" style="padding-top: 0px;">
	        	<div class="checkbox">
  					<label><input type="checkbox"  ng-model="variable.enableLua" style=" width: 24px;height: 24px;margin-top: 0px;" ng-change="luastrShow()"></label>
				</div>
	        </div>
	    </div>	    
	    <div class="row form-group" ng-class="{true:'luastrshow',false:'luastrhide'}[luastrshow]">
	    	<div class="col-sm-2 control-label ng-valid ">
	    	  Lua脚本
	    	</div>
	        <div class="col-sm-6">
	       		<textarea class="form-control" rows="3" placeholder="Lua脚本" ng-model="variable.luaStr"></textarea>	        
	        </div>
	         
	    </div>
	    
	    <h5>输入设备参数</h5>
		<hr></hr>
		<div class="">
		<div class="row form-group">
	   		<div class="col-sm-2 control-label ng-valid ">
	    	  	地址设备的类型
	    	</div>
	        <div class="col-sm-2">
	        <select class="form-control" ng-model="variable.daAddrCfgType" ng-change="selectAddrCfgType()">	        
				<option  value='{{key}}' ng-repeat="(key,value) in daAddrCfgTypes" >{{value}}</option>				
			</select>
	        </div>
	    </div>
	    <div ng-class="{false:'addrhide',true:'addrshow'}[className]">
	    	<div class="row form-group">	    	
	        	<div class="col-sm-2 control-label ng-valid ">
	    	 	 	地址段区块号
	    		</div>
	        	<div class="col-sm-2">
	        	<select class="form-control" ng-model="addrMap" ng-options="addrMap.name for addrMap in addrMaps">	       				
				</select>
	        	</div>
	    		<div class="col-sm-2 control-label ng-valid ">
	    	 		功能码
	    		</div>
	       		<div class="col-sm-2">
	        	<select class="form-control" ng-model="variable.funcCode" >	        
					<option  value='{{key}}' ng-repeat="(key,value) in funcCodes" >{{value.value}}</option>				
				</select>	       
	        	</div>
	    	</div>
	    	
	    	<div class="row form-group">	    	
	         	<div class="col-sm-2 control-label ng-valid ">
	    	 		 地址偏移量
	    		</div>
	        	<div class="col-sm-2">
	           		<input type="text" class="form-control" placeholder=0 ng-model="addrMap.addrPosOffset" disabled="disabled">
	       		</div>
	        	<div class="col-sm-2 control-label ng-valid ">
	    	 	 	地址最大值
	    		</div>
	        	<div class="col-sm-2">
	           		<input type="text" class="form-control" placeholder=0 ng-model="addrMap.addrMaxPos" disabled="disabled">
	        	</div> 
	    	</div>
	    	<div class="row form-group">
	    		<div class="col-sm-2 control-label ng-valid ">
	    	  		相对开始地址
	    		</div>
	        	<div class="col-sm-2">
	           		<input type="number" class="form-control" ng-init="variable.relativeStartAddr=0" ng-model="variable.relativeStartAddr" ng-change="startAddr()">
	        	</div>
	        	<div class="col-sm-2 control-label ng-valid ">
	    	          	相对结束地址
	    		</div>
	        	<div class="col-sm-2">
	           		<input type="number" class="form-control" ng-init="variable.relativeEndAddr=0" ng-model="variable.relativeEndAddr" ng-change="endAddr()">
	        	</div>	        
	    	</div>
	    	<div class="row form-group">
	    		<div class="col-sm-2 control-label ng-valid ">
	    	 		实际地址
	    		</div>
	        	<div class="col-sm-2">
	           		<input type="text" class="form-control" placeholder="实际地址" ng-model="variable.absoluteStartAddr">
	        	</div>
	        	<div class="col-sm-2 control-label ng-valid ">
	    	 		实际结束地址
	    		</div>
	        	<div class="col-sm-2">
	           		<input type="text" class="form-control" placeholder="实际地址" ng-model="variable.absoluteEndAddr" disabled="disabled">
	        	</div>
	    	</div> 	 
	    </div>
	    <div  ng-class="{true:'addrhide',false:'addrshow'}[className]"> 
		    <div class="row form-group">
		    	<div class="col-sm-2 control-label ng-valid ">
		    	 	发送命令串
		    	</div>
		         <div class="col-sm-2">
		        	<div style="position:relative;display:inline-block">
		        	<input type="text" style="position:relative;display:inline-block" ng-model="variable.cmdStr" class="form-control" placeholder="请输入命令串" ng-blur="verifyCmdString()" ng-focus="change=true">
		          	<select multiple class="form-control"  style='position:absolute;top:34px;z-index:999;width:100%;'  ng-model="cmdstring" ng-show="change"  ng-options="cmdstring.cmdStr for cmdstring in cmdstrings |filter:{cmdStr:variable.cmdStr}" ng-click="selectCmdString(cmdstrings)">
	           		</select></div>
	           		<div ng-if="!isCmdString" class="glyphicon glyphicon-exclamation-sign" style='color:#e24c4f;padding-right:5px;padding-top:2px;'> 你输入的格式不正确</div>
		        </div>
		        <div class="col-sm-2 control-label ng-valid ">
		    	 	发送命令串类型
		    	</div>
		        <div class="col-sm-2">
		        <select class="form-control" ng-model="variable.cmdStrType"  ng-change = "verifyCmdString()">	        
					<option  value='{{key}}' ng-repeat="(key,value) in cmdStrTypes" >{{value}}</option>				
				</select>
		        </div> 
		    </div>
		    <div class="row form-group">
		    	<div class="col-sm-2 control-label ng-valid ">
		    	         命令串等待时间
		    	</div>
		        <div class="col-sm-2">
		           <input type="number" class="form-control" placeholder="100" ng-model="variable.cmdWaitTime">
		        </div>
		    </div>
	  </div>
	    	    
		<div ng-repeat="list in addList" class='form-group'>
        	<label  class="col-sm-2 control-label" >{{list.name}}</label>
        	<div class="col-sm-2">
            	<input type="text" class="form-control ng-pristine ng-valid ng-touched" id=""  required="required" ng-model="list.value" style="display:inline-block;"></input>
          	</div>
        	<label for="name" class="col-sm-2 control-label ng-valid col-sm-2">下发</label>
         	<div class="checkbox col-sm-2">
  				<label><input type="checkbox"  ng-model="list.applyToGateway" style=" width: 24px;height: 24px;margin-top: 0px;"></label>
				<a><span class="glyphicon glyphicon-remove" style="margin-left:3%;color:#d9534f " ng-click="Remove($index)"></span></a>                					
			</div>
        </div>
		<div class="row form-group">
		  	<label  class="col-sm-2 control-label" ></label>
		  	<button type="submit" class="btn btn-default "  ng-click="cancel()" style='margin-right:1%;'>取消</button>
			<button type="submit" class="btn btn-success "  ng-click="ok()" ng-disabled="!variable.name || isdisableok || isdisabled">修改</button>
		</div>
    </form>
    <form class="form-horizontal">
		<h5 style="display:inline-block;cursor:pointer;" ng-click="showAddAttr()">添加属性</h5>
   		<i class="icon-pencil"></i>
    	<hr style="border-top:0.5px solid #ccc;margin-top:0;"></hr>
     	<div ng-show='isShow'>
        	<div class="form-group">
            	<label for="name" class="col-sm-2 control-label ng-valid " ng-model="add_name">属性名</label>
            	<div class="col-sm-2">
                	<input type="text" class="form-control" id="add_name" placeholder="属性名" required="required" ng-model="add_name ">
             	</div>  
          	</div>
         	<div class="form-group">
            	<label for="name" class="col-sm-2 control-label ng-valid " ng-model="add_attr">属性值</label>
            	<div class="col-sm-2">
                	<input type="text" class="form-control" id="add_attr" placeholder="属性值" required="required" ng-model="add_attr">
             	</div>  
        	</div>
         	<div class="form-group">
        		<label for="name" class="col-sm-2 control-label ng-valid ">下发</label>
         		<div class="col-sm-2" style="padding-top: 0px;">
            		<div class="checkbox col-sm-2">
  						<label><input type="checkbox"  ng-model="applyToGateway" style=" width: 24px;height: 24px;margin-top: 0px;" ng-change="luastrShow()"></label>
					</div>
         		</div>  
      		</div>
       		<div class="form-group" >
            	<label  class="col-sm-2 control-label" ></label>
				<button type="submit" class="btn btn-info "  ng-click=" Add()" >添加</button>                                    
         	</div>
    	</div>
	</form>
</div>